<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] %C{2} %M (%F:%L) - %m%xEx%n" />
        </Console>

        <RollingFile name="DumpFile" fileName="${sys:user.home}/irt/Flash.log"
                             filePattern="${sys:user.home}/irt/Flash/$${date:yyyy-MM}/Flash-%d{yyyy-MM-dd}-%i.log.gz"
                             bufferedIO="folse">
            <PatternLayout pattern="%-5p %d [%t] %C{2} %M (%F:%L) - %m%xEx%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
<!--         <logger name="irt.flash.presentation.dialog.MessageDialog" level="error" /> -->

<!--         <logger name="irt.flash.presentation.panel.ConnectionPanel" level="all" /> -->
<!--         <logger name="irt.flash.presentation.panel.EditProfilePanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.ProfileWorkerPanel" level="error" /> -->

<!--         <logger name="irt.flash.presentation.panel.edit_profile.extendable.EditPanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.edit_profile.extendable.EditComboBoxPanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.edit_profile.extendable.EditTextFieldPanel" level="error" /> -->

<!--         <logger name="irt.flash.presentation.panel.edit_profile.ProductDescriptionPanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.edit_profile.SystemNamePanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.edit_profile.MacAddressPanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.edit_profile.DevicePartNumberPanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.edit_profile.DeviceTypePanel" level="error" /> -->
<!--         <logger name="irt.flash.presentation.panel.edit_profile.DeviceSubtypePanel" level="error" /> -->

<!--         <logger name="irt.flash.presentation.panel.edit_profile.extendable.ScrollablePanel" level="error" /> -->

<!--         <logger name="irt.flash.presentation.panel.edit_profile.table.AbstractTableModel" level="error" /> -->

<!--         <logger name="irt.flash.data.Table" level="error" /> -->
<!--         <logger name="irt.flash.data.Profile" level="error" /> -->
<!--         <logger name="irt.flash.data.Informer" level="error" /> -->

<!--         <logger name="irt.flash.data.connection.FlashConnector" level="error" /> -->
<!--         <logger name="irt.flash.data.connection.FlashSerialPort" level="error" /> -->
<!--         <logger name="irt.flash.data.connection.MicrocontrollerSTM32" level="error" /> -->

<!--         <logger name="irt.flash.data.connection.dao.MySQLConnector" level="error" /> -->
<!--         <logger name="irt.flash.data.connection.dao.DatabaseController" level="error" /> -->
<!--         <logger name="irt.flash.data.connection.dao.Database" level="error" /> -->
<!--         <logger name="irt.flash.data.connection.dao.DatabaseSerialNumberProfile" level="error" /> -->
<!--         <logger name="irt.flash.data.connection.dao.DatabaseSerialNumbers" level="error" /> -->
<!--         <logger name="irt.flash.data.connection.dao.DatabaseSerialNumberTable" level="error" /> -->

        <Root level="all">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="DumpFile" />
        </Root>
    </Loggers>
</Configuration>
